<a href="https://colab.research.google.com/github/carlosfab/introducao-ao-python/blob/master/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Python

Nesta aula conheceremos as *strings*, que são uma sequência de caracteres como números, letras e símbolos.

## Strings

Strings são caracteres declarados entre aspas (simples ou duplas), sendo que esses caracteres podem ser símbolos, números ou letras.

Operações ou manipulações de *strings* são muito comuns, e com frequência você irá precisar trabalhá-las em seus projetos de *Data Science*. Vale ressaltar que o Python mostra o tipo *string* como sendo `str`:

In [1]:
type("Carlos Melo")

str

Para imprimir *strings*, eu iformo as mesmas dentro da função `print()`.

In [2]:
nome = "Carlos"
sobrenome = "Melo"
sufixo = "Junior"
profissao = "Piloto"

# imprimir nome completo
print("Nome completo:")
print(nome, sobrenome, sufixo)

# imprimir profissão
print("Sua profissão é", profissao + ".")

Nome completo:
Carlos Melo Junior
Sua profissão é Piloto.

É possível acessar os caracteres individuais dentro de uma *string*. Para isso, basta informar a posição desejada entre colchetes.

**Lembre-se sempre que a linguagem Python (assim como a maioria) começa com uma indexação em 0.** Veja como as posições da *string* `Carlos` estão distribuidas:

| **0** | **1** | **2** | **3** | **4** | **5** |
|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|
| C     | a     | r     | l     | o     | s     |

Uma dica, para acessar a última letra de uma *string* é só colocar `[-1]` ao final da mesma.

In [3]:
nome = "Carlos"

# ver qual é a primeira letra da variável `nome`
nome[0]

'C'

In [4]:
# ver qual a última letra da variável `nome`
nome[-1]

's'

### Função  `len()`


Para saber o tamanho de uma *string*, existe no Python uma função chamada `len()`, que irá sempre retornar um valor do tipo inteiro (`int`). Usá-la é muito simples e direto:

In [5]:
# verificar o tamanho da sequência de um DNA
dna = 'ATGCGGACCTAT'

print(len(dna))

12

### Função `split()`

A função `split()` serve para você separar *strings* baseando-se em um delimitador. Por exemplo, a variável nome da célula abaixo contém 3 nomes separados por vírgulas.

Para eu extrair esses nomes, basta eu executar `nomes.split(',')`, e o Python vai me retornar uma lista com 3 itens.

Não se preocupe. O conceito de listas será abordado mais para frente!

In [8]:
nomes = "Carlos,Fernanda,Theo"
nomes.split(',')

['Carlos', 'Fernanda', 'Theo']

### Função `replace()`

Como o nome já diz, ela serve para substituir caracteres dentro de uma string.

Imagine a situação que você importa uma tabela sua do Excel, e os valores monetários estão no sistema brasileiro,ou seja, as casas decimais estão separadas por vírgulas.

Se eu quiser converter uma string do tipo `9,50` em um valor numérico, eu tenho que substituir a vírgula pelo ponto:

In [12]:
"9,50".replace(",", ".")

'9.00'

In [15]:
float("9,50".replace(",", "."))

9.5

### Função `strip()`

Remove ou espaços em branco ou caracteres indesejados. Pode ser usada tanto para remover espaços em branco no começo e final de uma *string*, quanto para remover caracteres indesejados.

In [17]:
nome = "     Carlos Melo     "
nome.strip()

'Carlos Melo'

Voltando ao exemplo que usei na função `replace()`, imagine que quando você importou seus dados eles virem da seguinte forma: `R$ 9,50`.

Se você quiser converter para um número, precisa antes eliminar os caracteres `R$ `

In [18]:
"R$ 9,50".strip('R$ ')

'9,50'

In [19]:
"R$ 9,50".strip('R$ ').replace(',', '.')

'9.50'

In [20]:
float("R$ 9,50".strip('R$ ').replace(',', '.'))

9.5

## Exercícios

* Escreva seu nome e sobrenome, como nos exemplos acima, e imprima ele na tela usando a função `print()`:

In [0]:
# resposta...

* Verifique o tamanho da *string* da variável sha1_hash abaixo:

In [0]:
sha1_hash = "b91552e0b2b2183e85a4371020ab6b9f4ef83ed0"

# imprimir na tela o tamanho da variável sha1_hash

* Converta a string `85,00 Kg` em uma variável do tipo float.